@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
}
:root {
  --bg-danger: #f63440;
  --bg-white: #fff;
  --bg-light-white: #f5f5f5;
  --text-white: #fff;
  --text-black: #121212;
  --text-danger: #f63440;
  --text-gray: #aaa;
  --text-dark-gray: #777;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.75rem;
  background: var(--bg-white);
  color: var(--text-black);
}
a,
a:hover {
  text-decoration: none;
}
p {
  margin: 0;
}
.btn-danger {
  background: var(--bg-danger);
  border-color: var(--bg-danger);
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  font-weight: 500;
}
.btn-danger:hover {
  color: var(--text-danger);
  background: transparent;
}
#header .fixd-top {
  box-shadow: 0 0.125rem 0.675rem rgb(0 0 0 5%);
}
#header .navbar-nav .nav-item .nav-link {
  color: var(--text-black);
  padding: 0.5rem 1rem;
  text-align: center;
}
#header .navbar-nav .nav-item .nav-link ul,
li :hover,
#header .navbar-nav .nav-item .nav-link ul,
li:active {
  color: var(--text-danger) !important;
}
#header .navbar-toggler:focus {
  box-shadow: none;
}
.home .home-banner1 .home .home-banner2 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 90% center;

  position: relative;
}
.home .home-banner1 {
  background-image: url("../images/slide1.jpg");
  min-height: 650px;
}
.home .home-banner2 {
  background-image: url("../images/slide2.jpg");
  min-height: 650px;
}
.home .home-banner .home-banner-text {
  position: absolute;
  top: 30%;
  left: 20%;
  color: var(--text-black);
  transform: translate(-110, -50);
}
.home .home-banner .home-banner-text h1 {
  font-size: 6rem;
}
.home .carousel-indicators [data-bs-target] {
  background: var(--bg-danger);
  width: 5rem;
}
.home .carousel-control-next-icon,
.home .carousel-control-pre-icon {
  background: transparent;
}

.home .carousel-control-next-icon {
  font-size: 3rem !important;
  font-weight: 300 !important;
  color: var(--bg-danger) !important;
}
.home .carousel-control-prev-icon {
  font-size: 3rem !important;
  font-weight: 300 !important;
  color: var(--bg-danger) !important;
}
.offer .offer-overlay::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0 0 0 0.4) !important;
  z-index: 1;
}
/* .offer .offer-box .offer-info {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  z-index: 1;
  transition: all 250ms ease-out;
  justify-content: center;
  align-items: center;
  color: var(--text-white);
  font-size: 1rem;
} */
.offer .offer-box .offer-info {
  font-size: 2rem;
  line-height: 1;
  font-weight: 400;
  color: #121212;
}
.offer .offer-box .offer-info .btn-outline-danger {
  color: #121212;
  font-size: 1rem;
  font-weight: 700;
}
.product {
  padding-top: 8.75rem;
}
.headline h2::before {
  content: "";
  width: 40%;
  height: 0.125rem;
  background-color: var(--bg-danger);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.256rem;
}
.product,
a {
  text-decoration: none;
  color: var(--text-black);
}
.product-list .product-image {
  transition: all 500ms ease-in-out;
}
.product-list .product-image .product-image-third {
  opacity: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.product-list .product-image:hover .product-image-third {
  opacity: 1;
}
.product-list .product-image .sale {
  background: var(--bg-danger);
  border-radius: 0.313rem;
  color: var(--text-white);
  font-size: 0.813rem;
  letter-spacing: 0.125rem;
  line-height: 1.563rem;
  padding: 0.125rem;
  text-transform: uppercase;
  position: absolute;
  left: 1rem;
  top: 1.118rem;
  z-index: 99;
}
.product-list .product-name h3 :hover {
  color: var(--bg-danger) 0 !important;
}
.product-list .product-name .amount {
  color: var(--text-danger);
  font-weight: 500;
}
.product-list .product-name,
span,
i {
  color: var(--text-dark-gray);
}
.product-list .product-name .active span,
i {
  color: yellow;
}
/* .product-list .product-name span,
i :hover {
  color: yellow !important ;
} */
.product-list .product-name .Add_to_card {
  background: transparent;
  border: none;
  font-size: 1.2rem;
  font-weight: 500;
  transition: all 0.3s ease 0s;
}

.product-list .product-name .Add_to_card:hover {
  color: var(--text-danger) !important;
}
.product .up-to {
  position: relative;
}
.product .up-to::before {
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0 0 0 0.4);
  z-index: 2;
  cursor: pointer;
  transition: 0.5s;
}
.product .up-to-content h2 {
  color: var(--text-white) !important ;
  font-size: 1.625rem;
  position: absolute;
  top: 50%;
  left: 50%;
}
.special {
  padding: 6rem 0;
  background: var(--bg-light-white);
}
.special .countdown-container {
  padding-top: 4.375rem;
}
.special .countdown-container p {
  font-weight: 300;
  color: var(--text-dark-gray);
  line-height: 1.875rem;
}
.special .countdown-container .countdown-counter {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  margin-bottom: 1.875rem;
}
.special .countdown-container .countdown-counter,
li {
  display: inline-block !important;
  /* font-size: 0.875rem;
  font-weight: bold;
  text-align: center;
  background: var(--bg-white);
  border-radius: 0.313rem;
  padding: 2rem 1rem;

  margin: 0.313rem;
} */
  padding: 0 2rem;
  background: var(--bg-white);
}
.special .countdown-container .countdown-counter,
span {
  font-weight: 500;
}
.special .countdown-container .countdown-price del {
  color: var(--text-dark-gray) !important;
  font-size: 1rem;
}
.special .special-img span {
  background: var(--bg-danger);
  border-radius: 0.313rem;
  color: var(--text-white);
  font-size: 0.813rem;
  letter-spacing: 0.124rem;
  line-height: 1.563rem;
  padding: 0.125rem 0.813rem;
  text-transform: uppercase;
  position: absolute;
  left: 1rem;
  top: 1.188rem;
  z-index: 99;
}
